<div id="tab-container">
  <div id="tab-header">
    <div
      class="tab-header-card"
      [ngClass]="{ active: tab.isActive }"
      *ngFor="let tab of tabs | async; index as ind"
      (click)="clickTab(tab, ind)"
    >
      <span class="icon"></span>
      <span class="text">{{ tab.name }}</span>
      <div class="close" *ngIf="tab.isClosable" (click)="closeTab(ind)">
        &times;
      </div>
    </div>
  </div>
  <div id="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
